* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


hr {
  border: 0;
  height: 1px;
  margin: 10px auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  
}

a {
  text-decoration: none;
  color: #333333;
}

/* Dropdown start */
#logindrop,
#register {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 10px;
 
}
#logindrop {
  background-color: #333333;
  color: white;
}
#logindrop:hover {
  background-color: #28bdb7;
  color: #333333;
}
#register:hover {
  background-color: #def5f4;
}
.operationdrop {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.operationdrop:hover {
  background: white;
  background-color: rgb(241, 241, 244);
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.dropdown-content {
  display: none;
  padding: 10px;
  position: absolute;
  top: 31px;
  background-color: white;
  min-width: 120px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* Dropdown end*/

.usd {
  display: grid;
  align-items: center;
  
  height: 50px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  background-color: rgb(241, 241, 244);
  justify-content: flex-end;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  z-index: auto;
}
.dropbar {
  display: flex;
  /* height: 40px; */
  justify-content: space-evenly;
  text-align: center;
  padding: 10px 10px 20px 10px 
}
.dropbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.header {
/* height: 120px; */
width: 100%;
/* margin-top: 10px; */
display: flex;
justify-content: space-between;
padding-left: 16px;
padding-right: 16px;
z-index: auto;
}

#searchbox {
 
  width: 640px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logoimg {
  width: 100%;
  /* height: 100%; */
}
.width160 {
  width: 160px;
}
.center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logodiv{
  width : 10% 
}
  
#account,
#cart {
  width: 80%;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}
#cart {
  width: 100px;
  margin-right: 50px;
}
#account img,
#cart img {
  width: 5px;
}
#searchbar {
  border: 1px solid black;
  width: 70%;
  height: 40px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.resnav {
  background-color: rgb(241, 241, 244);
  /* width: 95%; */
  height: 40px;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  /* padding: 15px; */
  margin-bottom: 25px;
}
.resnav > div {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.resnav p {
  font-size: 15px;
}
.resnav img {
  margin-right: 10px;
  width: 15px;
}
.offer {
  /* width: 95%; */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: auto;
  font-weight: bold;
  background-color: #333333;
  color: white;
  margin-bottom: 10px;
}
