* {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #2e3337;
}
.container {
  width: 80%;
  margin: auto;
}

.black-heading{
  width: 100%;
  height: auto;
  background-color: black;
  
}
.top-heading p{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.white-heading{
  width: 100%;
  height: auto;
  background-color: red;
}
.right-buttons{
  margin: 20px;  
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
}
.right-buttons-links{
  width: 40%;
  justify-content: space-evenly;
  display: flex;

}
.right-buttons-links>a{
  text-decoration:  none;

}

.right-buttons-links>a:hover{
  text-decoration:  underline;
}

.top-heading{
  text-align: center;
}
.top-heading-right{
  width: 30%;
}
.top-heading-right{
  width: 70%;
}

.top-heading{
  display: flex;
}

/* .notification-loding{
  left: 28%;
  margin-top: 200px;
} */


.red{
  border: 1px solid red;
}


.filter-sec{
  width: 20%;
}
.title{
  background-color: rgb(223, 223, 223);
  padding: 20px;
}
.categories{
  padding: 20px;

}
.categories li,h2 {
  list-style-type: none;
  display: block;
}
.midpart{
  width: 100%;
  margin: auto;

}

.midpart  img{
  width: 100%;

}