<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Footer</title>
  </head>
  <body>
    <hr />
    <div id="footerconnect">
      <div id="footersignup">
        <p>Sign up to our email list and receive 20% off your next order</p>
        <a href="/routes/register.html"><div id="signup">SIGN UP</div></a>
      </div>
      <div>
        <p>Connect with us</p>
        <div>
          <div id="icons">
            <div>
              <a href="https://www.facebook.com/SkinStore"
                ><img src="../images/facebook.png" alt=""
              /></a>
            </div>
            <div>
              <a href="https://www.instagram.com/skinstore/"
                ><img src="../images/instagram.png" alt=""
              /></a>
            </div>
            <div>
              <a href="https://www.twitter.com/skinstore/"
                ><img src="../images/twitter.png" alt=""
              /></a>
            </div>
            <div>
              <a href="https://www.pinterest.com/skinstore/"
                ><img src="../images/pinterest.png" alt=""
              /></a>
            </div>
            <div>
              <a href="https://www.snapchat.com/skinstore/"
                ><img src="../images/snapchat.png" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="end">
      <div id="size">
        <hr />
        <h3>Help & Information</h3>
        <a class="a-tag" href="/info/contact-us.list"> <p>Customer Servide</p></a>
        <a class="a-tag" href="/info/delivery-information.list"><p>Delivery Information</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Return & Refund</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Help Center</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Track My Order</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Accessibility</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"> <p>Cookie Setting</p></a>
      </div>
      <div id="size">
        <hr />
        <h3>About SkinStore</h3>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Key Workers Discount</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>About us</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Affiliate Program</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Brand Directory</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>coupon Code</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Refer a Friend</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Student Discount</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Join Skinstore Experts</p></a>
      </div>
      <div id="size">
        <hr />
        <h3>Legal</h3>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Cookie Information</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Privacy Policy</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Term & Conditions</p></a>
        <a class="a-tag" href="/info/refunds-returns.list">
          <p>Mordern Slavery Statement</p></a
        >
      </div>
      <div id="size">
        <hr />
        <h3>How to Contact Us</h3>
        <a class="a-tag" href="/info/refunds-returns.list"> <p>Massage Us</p></a>
        <a class="a-tag" href="/info/refunds-returns.list"><p>Free Beauty Consultants</p></a>
      </div>
    </div>
      
    <hr />
    <div>
     <img src="../images/bot-payment.png" alt="">
    </div>
  </body>

</html>
